<div class="col-md-6">

  <div class="col-md-7">
    <%= label_tag 'country', 'Select country' %>
    <%= select_tag :country, options_for_select(@countries.map{ |country| [country.name, country.id] }), :include_blank => true, class: 'form-control' %>
  </div>

  <div class="col-md-7" style="display:none">
    <%= label_tag 'state', 'Select state'%>
    <%= select_tag :country, options_for_select(@countries.map{ |country| [country.name, country.id] }), :include_blank => true, class: 'form-control' %>
  </div>

  <div class="col-md-7" style="display:none">
    <%= label_tag 'city', 'Select city' %>
    <%= select_tag :country, options_for_select(@countries.map{ |country| [country.name, country.id] }), :include_blank => true, class: 'form-control' %>
  </div>
    
</div>